@tailwind base;

:root {
  font-size: 14.5px;
  line-height: 1.45;
}

body {
  -webkit-font-smoothing: subpixel-antialiased;
  font-feature-settings: "kern";
  text-rendering: optimizeLegibility;
}

@screen sm {
  :root {
    font-size: 15px;
  }
}

@screen lg {
  :root {
    font-size: 16px;
  }
}

.inline-table {
  display: inline-table;
}

.ease-in-fast {
  transition: all 0.1s ease-in;
}

ul[class~="list-disc"] > li::before {
  content: "";
  margin-left: -0.35rem;
}

@tailwind components;

@tailwind utilities;
